:root {
  --Dark-Blue: hsl(217, 28%, 15%);
  --White: hsl(0, 0%, 100%);
  --blue: hsl(198, 60%, 50%);
  --btn-hover: #8bdbe4;
  --cyan: hsl(176, 68%, 64%);
  --light-red: hsl(0, 100%, 63%);
  --offwhite: hsl(210, 4%, 67%);
  --p-text: #b4b8c1;

  --Dark-Blue1: hsl(218, 28%, 13%);
  --Dark-Blue2: hsl(216, 53%, 9%);
  --Dark-Blue3: hsl(219, 30%, 18%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0;
  width: 100%;
}
p,
ul {
  color: var(--p-text);
}
.header-section {
  background-color: var(--Dark-Blue1);
  left: 0;
  padding: 20px 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1;
}
.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.header ul {
  color: var(--offwhite);
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.header ul li {
  cursor: pointer;
  margin: 0 0 0 40px;
}
.header ul li:hover {
  color: var(--White);
  text-decoration: underline;
}
.main {
  background-color: var(--Dark-Blue1);
}
.banner {
  background-image: linear-gradient(
    to bottom,
    var(--Dark-Blue1),
    var(--Dark-Blue3)
  );
}
.getstarted {
  background-image: url('../images/bg-curvy-desktop.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 50px;
}
.content {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 60%;
}
.content img {
  margin-bottom: 30px;
}
h1,
h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 20px;
}
.content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 40px;
  width: 71%;
}
.button {
  background-image: linear-gradient(to bottom right, var(--cyan), var(--blue));
  background: var(--blue);
  border-radius: 25px;
  border: 1px solid var(--blue);
  color: var(--White);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 110px;
  padding: 15px 100px;
}
.button:hover,
.button1:hover {
  background: var(--btn-hover);
  border: 1px solid var(--blue);
}
.sec-4 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 75%;
}
.fea-1 {
  margin: 40px auto;
  width: 37%;
}
.fea-1 img {
  margin-bottom: 20px;
}
.security {
  margin-bottom: 10px !important;
}
h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}
.productive {
  margin: 0 auto;
  padding: 50px 0;
  width: 90%;
}
.stand {
  align-items: center;
  display: flex;
}
.stand img {
  margin: 0 auto;
  width: 45%;
}
.text {
  margin: 0 auto;
  text-align: left;
  width: 40%;
}
.arrow {
  border-bottom: 1px solid var(--cyan);
  cursor: pointer;
  display: flex;
  padding-bottom: 4px;
  width: 33%;
}
.arrow p {
  color: var(--cyan);
}
.arrow:hover {
  border-color: var(--p-text);
}
.arrow p:hover {
  color: var(--p-text);
}
.arrow img {
  width: 12%;
}
.clients {
  background-image: url('../images/bg-quotes.png');
  background-repeat: no-repeat;
  margin: 0 auto;
  padding: 0 0;
  text-align: justify;
  width: 80%;
}
.c-info {
  align-items: center;
  display: flex;
  margin: 50px auto 0 auto;
}
.response {
  background-color: var(--Dark-Blue3);
  border-radius: 3px;
  margin: 33px auto 0 auto;
  padding: 35px 20px 20px 20px;
  width: 31%;
}
.e-d {
  align-items: center;
  display: flex;
  margin-top: 30px;
}
.e-d img {
  border-radius: 100%;
  width: 10%;
}
.e-d p {
  margin-left: 10px;
}
.e-d p strong {
  color: var(--White);
}
.sec-email {
  padding: 150px;
  position: relative;
}
.text-email {
  background-color: var(--Dark-Blue);
  border-radius: 3px;
  bottom: -127px;
  left: 0;
  margin: 0 auto;
  padding: 30px 60px 33px 60px;
  position: absolute;
  right: 0;
  width: 71%;
}
.mail {
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0 auto;
  width: 100%;
}
.button1 {
  background-image: linear-gradient(to bottom right, var(--cyan), var(--blue));
  border-radius: 25px;
  border: 1px solid var(--blue);
  color: var(--White);
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 15px;
  width: 30%;
}
input {
  border-radius: 25px;
  border: 1px solid var(--White);
  padding: 17px 35px;
  width: 65%;
}
.error-text {
  bottom: 10px;
  color: red;
  left: 95px;
  position: absolute;
}
.footer {
  background-color: var(--Dark-Blue2);
  padding: 160px 0 40px 0;
}
.f-img {
  margin: 0 0 25px 70px;
  width: 175px;
}
.f-d {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
}
.location {
  align-items: flex-start;
  display: flex;
  text-align: justify;
  width: 25%;
}
.location p {
  margin-left: 20px;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 16%;
}
.contact div {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.f-menu {
  display: flex;
  justify-content: space-between;
  text-align: left;
  width: 18%;
}
.f-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
}
.f-menu ul li {
  cursor: pointer;
  margin-bottom: 10px;
}
.f-menu ul li:hover {
  color: var(--White);
}
.f-social {
  display: flex;
  justify-content: center;
  width: 10%;
}
.f-social ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
}
.f-social ul li {
  border-radius: 100%;
  border: 1px solid var(--White);
  cursor: pointer;
  padding: 5px;
  width: 25%;
}
.f-social ul li:hover {
  border-color: var(--cyan);
  color: var(--cyan);
}
.error-text {
  display: none;
}
.mail.error .error-text {
  display: block;
}
