:root {
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
  --Very-darkblue: hsl(226, 43%, 10%);
  --blue: hsl(246, 80%, 60%);
  --exercise: hsl(145, 58%, 55%);
  --font: 'Rubik', sans-serif;
  --play: hsl(195, 74%, 62%);
  --self-care: hsl(43, 84%, 65%);
  --social: hsl(264, 64%, 52%);
  --study: hsl(348, 100%, 68%);
  --work: hsl(15, 100%, 70%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Very-darkblue);
  color: white;
  font-family: var(--font);
  padding: 150px;
}
.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 200px 250px 250px 250px;
  grid-template-rows: 250px 250px;
  margin-bottom: 100px;

  grid-template-areas:
    'user work play study'
    'user exercise social selfcare';
}
.jeremy {
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 20px;
  width: 80px;
}
.top {
  background-color: var(--blue);
  border-radius: 5px;
  height: 67%;
  margin-left: 20px;
  padding: 1rem;
  position: relative;
  z-index: 2;
}
.top p {
  color: var(--Pale-Blue);
  font-size: 15px;
  margin-bottom: 20px;
}
.top h1 {
  color: white;
  font-size: 30px;
  margin: 10px 0;
}
.link {
  background-color: var(--Dark-blue);
  border-radius: 5px;
  font-size: 15px;
  height: 35%;
  margin-left: 20px;
  padding: 2em 2em 1em 2em;
  position: relative;
  top: -10px;
}
.link p {
  cursor: pointer;
  margin-left: -10px;
  margin: 18px 8px;
}
.link p:hover {
  color: var(--Pale-Blue);
}
.user {
  grid-area: user;
}
.work {
  background-color: var(--work);
  background-image: url(../images/icon-work.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: work;
}
.play {
  background-color: var(--play);
  background-image: url(../images/icon-play.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: play;
}
.study {
  background-color: var(--study);
  background-image: url(../images/icon-study.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: study;
}
.exercise {
  background-color: var(--exercise);
  background-image: url(../images/icon-exercise.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: exercise;
}
.social {
  background-color: var(--social);
  background-image: url(../images/icon-social.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: social;
}
.selfcare {
  background-color: var(--self-care);
  background-image: url(../images/icon-self-care.svg);
  background-position-x: 150px;
  background-repeat: no-repeat;
  border-radius: 5px;
  grid-area: selfcare;
}
.grid-item {
  background-color: var(--Dark-blue);
  border-radius: 5px;
  bottom: -30%;
  height: 70%;
  position: relative;
}
.grid-item:hover {
  background-color: var(--Desaturated-blue);
}
.action {
  align-content: center;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  font-weight: 800;
  justify-content: space-between;
  padding: 15px;
}
.time {
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.time p {
  font-size: 40px;
  margin-bottom: 20px;
}
.time span {
  color: var(--Pale-Blue);
}
@media only screen and (max-width: 600px) {
  .grid-container {
    gap: 5rem;
    grid-template-columns: 200px 250px 250px 250px;
    grid-template-rows: 250px 250px;
    margin-bottom: 10px;
    margin-left: -150px;

    grid-template-areas:
      'user'
      'work'
      'play'
      'study'
      'exercise'
      'social'
      'selfcare';
  }
  .top {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 400px;
  }
  .top h1 {
    gap: 1rem;
    margin-left: -80px;
    margin-top: 40px;
  }
  .top p {
    margin-left: 30px;
  }
  .link {
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 400px;
  }
  .link p {
    margin-right: 100px;
  }
  .work {
    bottom: 0%;
    height: 50%;
    margin-left: 20px;
    margin-top: 20px;
    width: 400px;
  }
  .play,
  .study,
  .exercise,
  .social,
  .selfcare {
    margin-left: 20px;
    margin-top: 40px;
    width: 400px;
  }
  .grid-item {
    bottom: -50%;
    height: 100%;
  }
  .time span {
    display: flex;
    flex-direction: row;
    margin-top: -50px;
    padding-left: 200px;
  }
}
