* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.head-img {
    width: 1400px;
    position: relative;
}
nav{
    position: absolute;
    display: flex;
    top: 0;
}
nav img {
    top: 0;
    padding: 30px;
}
nav button{
    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 25px;
    text-transform: uppercase;
    font-weight: 800;
    font-family: "Fraunces",sans-serif;
    margin-left: 40px;
    cursor: pointer;
}
.contact:hover,
.contact:active {
    background-color: rgb(0, 217, 255);
    color: white;
}
.block{
    margin: 30px;
    margin-left: 700px;
}
.block a {
    text-decoration: none;
    margin-left: 30px;
    color: white;
    font-weight: 600;
}
.heading {
    position: absolute;
}
.heading h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    margin-top: -600px;
    margin-left: 450px;
    font-family: "Fraunces",sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.arrow{
    margin-left: 680px;
    margin-top: 100px;
}
.transform {
    display: flex;
}
.transform img {
    width: 677px;
}
.content-trans,
.content-stand {
    padding: 200px;
}
.content-trans h1,
.content-stand h1{
    margin-bottom: 20px;
    font-family: "Fraunces",sans-serif;
    color: hsl(212, 27%, 19%);
}
.content-trans p,
.content-stand p{
    margin-bottom: 30px;
    font-family: "Fraunces",sans-serif;
    color: hsl(213, 9%, 39%);
    line-height: 1.5;
}
.content-trans a {
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    text-decoration: underline 3px solid hsl(51, 79%, 78%);
    font-weight: 600;
}
.content-trans a:hover,
.content-trans a:active {
    text-decoration: underline 5px solid hsl(51, 100%, 49%);
}
.content-stand a{
    color: hsl(212, 27%, 19%);
    text-transform: uppercase;
    text-decoration: underline 3px solid hsl(7, 71%, 84%);
    font-weight: 600;
}
.content-stand a:hover,
.content-stand a:active {
    text-decoration: underline 5px solid hsl(7, 99%, 70%);
}
.content-stand {
    margin-top: -100px;
}
.stand {
    display: flex;
}
.stand img {
    width: 677px;
    margin-top: -100px;
}
.design {
    display: flex;
    margin-top: -98px;
}
.graphic-detail,
.photography-detail{
    position: absolute;
    margin-top: -200px;
    width: 300px;
    margin-left: 200px;
}
.graphic-detail h2,
.photography-detail h2 {
    margin-bottom: 30px;
    margin-left: 35px;
    font-weight: 700;
}
.graphic-detail p,
.photography-detail p {
    line-height: 1.5;
}
.graphic {
    color: hsl(167, 40%, 24%);
}
.photography {
    color: hsl(198, 62%, 26%);
}
.test{
    margin-top: 100px;
}
.test h2 {
    text-transform: uppercase;
    color: hsl(210, 4%, 67%);
    letter-spacing: 2px;
    margin-left: 550px;
    font-size: 18px;
    margin-bottom: 60px;
}
.client{
    display: flex;
    padding: 100px;
}
.client img {
    border-radius: 50%;
    width: 70px;
    margin-left: 140px;
}
.client p{
    color: hsl(213, 9%, 39%);
    padding: 50px;
    line-height: 1.5;
}
.client h4 {
    color: black;
    margin-left: 130px;
    margin-bottom: 5px;
}
.client span{
    color: hsl(210, 4%, 67%);
    margin-left: 100px;
}
.gallery {
    display: flex;
}
.gallery img {
    width: 350px;
}
.footer {
    background-color: hsl(168, 54%, 63%);
    height: 300px;
    padding: 100px;
}
.logo {
    margin-left: 500px;
    margin-bottom: 20px;
}
.footer-link {
    margin-left: 450px;
    margin-bottom: 30px;
    cursor: pointer;
}
.footer-link a{
    color: hsl(168, 34%, 41%);
    text-decoration: none;
    margin-right: 30px;
}
.icons {
    margin-left: 470px;
    cursor: pointer;
}
.icons img {
    margin-right: 30px;
}
.footer-link a:hover,
.footer-link a:active,
.icons:hover,
.icons:active {
    color: white;
}