:root {
  --Red: hsl(0, 100%, 68%);
  --Very-DarkBlue: hsl(230, 29%, 20%);
  --Dark-GrayishBlue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-GrayishBlue: hsl(207, 33%, 95%);
  --main-font: 'Barlow Condensed', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 20px 0 10px 40px;
  font-family: var(--main-font);
  overflow-x: hidden;
}
.background {
  background-color: var(--Light-GrayishBlue);
  border-radius: 0 0 0 20%;
  height: 50vh;
  position: absolute;
  top: 0;
  margin-right: -35px;
  width: 43rem;
}
.logo {
  margin-left: 100px;
  margin-top: 50px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.link {
  position: relative;
  margin-top: -30px;
}
nav a {
  margin: 0 40px 20px 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--Very-DarkBlue);
  font-size: 14px;
  font-weight: 700;
}
nav .dot {
  color: var(--Grayish-Blue);
  text-decoration: none;
}
nav .login {
  color: var(--Grayish-Blue);
  margin-left: 50px;
}
a:hover {
  text-decoration: underline;
  color: var(--Very-DarkBlue);
}
.device img {
  position: relative;
  margin-top: 50px;
  margin-right: -290px;
}
.left {
  position: absolute;
  margin-top: -400px;
  margin-left: 100px;
}
.btn {
  display: flex;
  margin-bottom: 30px;
}
.bg {
  background-color: var(--Very-DarkBlue);
  color: white;
  width: 40px;
  height: 20px;
  border-radius: 40px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin-right: 30px;
}
.content h1 {
  text-transform: uppercase;
  color: var(--Very-DarkBlue);
  font-size: 40px;
  font-weight: 700;
  width: 500px;
  margin-bottom: 30px;
}
.content p {
  color: var(--Dark-GrayishBlue);
  width: 300px;
  margin-bottom: 50px;
}
.content button {
  background-color: var(--Red);
  width: 150px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 20px;
  cursor: pointer;
}
.content span,
.btn span {
  color: var(--Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}
