:root {
    --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
    --Light-GrayishBlue: hsl(234, 14%, 74%);
    --Grayish-Blue: hsl(233, 13%, 49%);
    --DarkGrayish-Blue: hsl(232, 13%, 33%);
    --linear-grad: hsl(236, 72%, 79%);
    --linear-gradient: hsl(237, 63%, 64%);
    --font: "Montserrat", sans-serif;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--Very-Light-Grayish-Blue);
    background-image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%, 100%, 0%;
    background-size: 250px, 280px;
}
.container {
    max-width: 100%;
    min-height: 100%;
    font-family: var(--font);
}
h1 {
    text-align: center;
    color: var(--Grayish-Blue);
    font-size: 25px;
    padding: 70px 0;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 50px;
    padding: 1rem 3rem;
}
h4 {
    font-size: 50px;
    padding: 1rem 3rem;
    display: none;
}
p {
    font-size: 15px;
    font-weight: 600;
}
.selector {
    display: flex;
    color: var(--Light-GrayishBlue);
    justify-content: center;
    align-items: center;
}
#selector-bar {
    background-color: var(--linear-gradient);
    width: 3rem;
    height: 1.5rem;
    margin: 0 1rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
#selector-bar:hover {
    opacity: 0.6;
}
#selector-ball {
    width: 1.2rem;
    height: 1.3rem;
    background-color: white;
    border-radius: 50%;
    margin-left: 25px;
}
.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 2rem auto;
    text-align: center;
}
.card-left h2, 
.card-right h2 {
    color: var(--Grayish-Blue);
}
.card-left h3, 
.card-right h3,
.card-left h4, 
.card-right h4 {
    color: var(--DarkGrayish-Blue);
}
.card-left,
 .card-middle, 
 .card-right {
    padding: 1.5rem;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgb(0, 0, 0, 0.75);
}
.card-middle {
    padding: 3rem 1.3rem;
    background: linear-gradient(hsl(236, 72%, 79%),hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
}
.card-left p, 
.card-middle p,
.card-right p {
    padding: 1.2rem 0;
}
.card-left p, 
.card-right p {
    color: var(--Grayish-Blue);
}
.card-left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.card-right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.card hr {
    width: 80%;
    margin: auto;
    opacity: 0.2;
}
button {
    width: 85%;
    margin: 1.5rem auto 0.5rem auto;
    padding: 0.8rem;
    cursor: pointer;
    font-size: 0.8rem;
    color: white;
    background-color: var(--linear-gradient);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
}
button:hover {
    color: var(--linear-gradient);
    background-color: transparent;
    border: 1px solid var(--linear-gradient);
}
.card-middle button {
    color: var(--linear-gradient);
    background-color: white;
}
.card-middle button:hover {
    color: white;
    background-color: transparent;
    border: 1px solid white;
}