:root {
  --Soft-Magenta: hsl(300, 69%, 71%);
  --Violet: hsl(257, 40%, 49%);
  --main-font: 'Poppins', sans-serif;
  --para-font: 'Open Sans', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Violet);
  background: url(./images/bg-desktop.svg);
  margin: 60px 100px 50px 50px;
}
.logo {
  margin-bottom: 50px;
}
.sec1 {
  display: flex;
}
.sec2 {
  align-items: center;
  justify-content: center;
  padding: 60px;
}
.sec2 h1 {
  color: white;
  font-family: var(--main-font);
  line-height: 1.5;
  margin-bottom: 20px;
}
.sec2 p {
  color: rgb(197, 201, 238);
  font-family: var(--para-font);
  line-height: 1.5;
  margin-bottom: 30px;
}
.register {
  background-color: white;
  border-radius: 25px;
  border: 2px solid white;
  box-shadow: -2px -4px 6px rgb(0, 0, 0, 0.25);
  color: var(--Violet);
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 18px;
  height: 50px;
  width: 200px;
}
.register:hover {
  color: var(--Soft-Magenta);
}
.end {
  align-items: right;
  display: flex;
  justify-content: right;
  margin: 10px;
  padding: 0;
}
.fa {
  display: flex;
  list-style: none;
  padding: 0;
}
li a {
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  display: inline-flex;
  height: 30px;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  width: 30px;
}
