:root {
  --Dark-Blue: hsl(240, 38%, 20%);
  --Grayish-Blue: hsl(240, 18%, 77%);
  --main-font: 'Inter', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-position-y: 500px;
  background-repeat: no-repeat;
  background: url(../images/pattern-curve.svg);
}
.background img {
  margin-left: 800px;
  margin-top: 100px;
  position: absolute;
  width: 500px;
}
.photo img {
  margin-left: 100px;
  margin-top: 150px;
  position: relative;
  width: 400px;
}
.btn button {
  background-color: white;
  border-radius: 30px;
  border: none;
  box-shadow: 0 2px 3px black;
  cursor: pointer;
  height: 50px;
  margin-left: 880px;
  margin-top: -40px;
  outline: none;
  position: absolute;
  width: 100px;
}
.prev {
  margin-left: 10px;
  margin-right: 40px;
}
.slide1 {
  display: flex;
}
.para p {
  color: var(--Dark-Blue);
  font-size: 40px;
  margin-left: 100px;
  margin-top: 200px;
  position: relative;
  width: 600px;
}
.quote {
  margin-left: 200px;
  margin-top: 200px;
  position: absolute;
}
.info {
  display: flex;
  margin-left: 200px;
  margin-top: 20px;
}
.name {
  color: var(--Dark-Blue);
  font-size: 20px;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 10px;
}
.role {
  color: var(--Grayish-Blue);
  font-size: 20px;
  margin-left: 250px;
  margin-top: -20px;
  position: absolute;
}
@media only screen and (max-width: 600px) {
  body {
    background-position-y: 1000px;
  }
  .background img {
    margin-left: 150px;
    margin-top: 50px;
    width: 500px;
  }
  .photo img {
    margin-left: -350px;
    margin-top: 100px;
    width: 400px;
  }
  .btn button {
    margin-left: 250px;
    margin-top: -550px;
  }
  .para p {
    margin-top: 550px;
    text-align: center;
    width: 400px;
  }
  .quote {
    margin-left: 250px;
    margin-top: 550px;
  }
  .info {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 20px;
    text-align: center;
  }
  .name {
    margin-left: 100px;
    margin-top: 10px;
    text-align: center;
  }
  .role {
    margin-left: 250px;
    margin-top: 10px;
    text-align: center;
  }
}
