:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Transparent-white: hsl(0, 0%, 100%, 0.75);
  --Verydark-cyan: hsl(179, 100%, 13%);
  --background-color: hsl(0, 0%, 95%);
  --main-font: 'Lexend Deca', sans-seriff;

  --main-font1: 'Big Shoulders Display', sans-seriff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  overflow-x: hidden;
}
body {
  background-color: var(--background-color);
}
.card-container {
  border-radius: 25px;
  display: flex;
  height: 100vh;
  margin-bottom: 200px;
  margin-top: 100px;
  margin: 0 auto;
  padding: 50px;
  position: relative;
  text-align: center;
  width: 1000px;
}
.sedan-img {
  background-image: url('../../3-column-preview-card-component-main/images/icon-sedans.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  width: 3.5rem;
}
.suv-img {
  background-image: url('../../3-column-preview-card-component-main/images/icon-suvs.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  width: 3.5rem;
}
.luxury-img {
  background-image: url('../../3-column-preview-card-component-main/images/icon-luxury.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  width: 3.5rem;
}
.sedan-container {
  background-color: var(--Bright-orange);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.sedan-container h1 {
  color: var(--background-color);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  text-align: left;
}
.sedan-container p {
  color: var(--Transparent-white);
  font-family: var(--main-font1);
  font-weight: lighter;
  line-height: 25px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.2rem;
  margin-top: 3rem;
  text-align: left;
}
.sedan-btn {
  background-color: var(--background-color);
  border-radius: 25px;
  border: transparent;
  color: var(--Bright-orange);
  font-family: var(--main-font1);
  font-size: 1rem;
  font-weight: 400;
  margin-right: 5rem;
  margin-top: 10px;
  margin-top: 3rem;
  min-width: 50%;
  padding: 10px;
  padding: 1rem;
  width: 50%;
}
.suv-container {
  background-color: var(--Dark-cyan);
}
.suv-container h1 {
  color: var(--background-color);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  text-align: left;
}
.suv-container p {
  color: var(--Transparent-white);
  font-family: var(--main-font1);
  font-weight: lighter;
  line-height: 25px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.2rem;
  margin-top: 3rem;
  text-align: left;
}
.suv-btn {
  background-color: var(--background-color);
  border-radius: 25px;
  border: transparent;
  color: var(--Dark-cyan);
  font-family: var(--main-font1);
  font-size: 1rem;
  font-weight: 400;
  margin-right: 5rem;
  margin-top: 10px;
  margin-top: 3rem;
  min-width: 50%;
  padding: 10px;
  padding: 1rem;
  width: 50%;
}
.luxury-container {
  background-color: var(--Verydark-cyan);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.luxury-container h1 {
  color: var(--background-color);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  text-align: left;
}
.luxury-container p {
  color: var(--Transparent-white);
  font-family: var(--main-font1);
  font-weight: lighter;
  line-height: 25px;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 1.2rem;
  margin-top: 3rem;
  text-align: left;
}
.luxury-btn {
  background-color: var(--background-color);
  border-radius: 25px;
  border: transparent;
  color: var(--Verydark-cyan);
  font-family: var(--main-font1);
  font-size: 1rem;
  font-weight: 400;
  margin-right: 5rem;
  margin-top: 10px;
  margin-top: 3rem;
  min-width: 50%;
  padding: 10px;
  padding: 1rem;
  width: 50%;
}
.sedan-btn:hover,
.suv-btn:hover,
.luxury-btn:hover {
  border: 2px solid white;
  color: white;
  cursor: pointer;
  opacity: 0.7;
  text-decoration: none;
}
.sedan-btn:hover {
  background-color: var(--Bright-orange);
}
.suv-btn:hover {
  background-color: var(--Dark-cyan);
}
.luxury-btn:hover {
  background-color: var(--Verydark-cyan);
}
@media only screen and (max-width: 784px) {
  .card-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: auto;
  }
  .sedan-btn,
  .suv-btn,
  .luxury-btn {
    margin-bottom: 50px;
  }
}
