:root {
  --Dark-GrayishMagenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Very-DarkMagenta: hsl(300, 43%, 22%);
  --White: hsl(0, 0%, 100%);
  --main-font: 'Spartan', sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: url(./images/bg-pattern-top-desktop.svg);
  font-family: var(--main-font);
  padding: 100px;
}
.container {
  display: flex;
}
.content {
  width: 450px;
}
.content h1 {
  color: var(--Very-DarkMagenta);
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.content p {
  color: var(--Dark-GrayishMagenta);
  font-size: 15px;
  line-height: 1.5;
}
.rev1 {
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 5px;
  display: flex;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 200px;
  padding: 10px;
  width: 400px;
}
.rev1 h5 {
  color: var(--Very-DarkMagenta);
  margin-left: 30px;
}
.star1 {
  margin-left: 20px;
}
.rev2 {
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 5px;
  display: flex;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 250px;
  padding: 10px;
  width: 400px;
}
.rev2 h5 {
  color: var(--Very-DarkMagenta);
  margin-left: 30px;
}
.star2 {
  margin-left: 20px;
}
.rev3 {
  background-color: var(--Light-Grayish-Magenta);
  border-radius: 5px;
  display: flex;
  height: 35px;
  margin-bottom: 10px;
  margin-left: 300px;
  padding: 10px;
  width: 400px;
}
.rev3 h5 {
  color: var(--Very-DarkMagenta);
  margin-left: 30px;
}
.star3 {
  margin-left: 20px;
}
.card1 {
  background: var(--Very-DarkMagenta);
  border-radius: 10px;
  height: 260px;
  margin-right: 20px;
  margin-top: 60px;
  padding: 30px;
  width: 390px;
}
.card1 p {
  color: var(--Light-Grayish-Magenta);
  line-height: 1.5;
}
.info {
  display: flex;
  margin-bottom: 20px;
}
.info img {
  border-radius: 50%;
  width: 60px;
}
.person1 h4 {
  color: var(--White);
  margin-left: 30px;
  margin-top: 10px;
}
.person1 span {
  color: var(--Soft-Pink);
  margin-left: 30px;
}
.card2 {
  background: var(--Very-DarkMagenta);
  border-radius: 10px;
  height: 260px;
  margin-right: 20px;
  margin-top: 100px;
  padding: 30px;
  width: 390px;
}
.card2 p {
  color: var(--Light-Grayish-Magenta);
  line-height: 1.5;
  margin-top: 40px;
}
.person2 h4 {
  color: var(--White);
  margin-left: 90px;
  margin-top: -70px;
}
.person2 span {
  color: var(--Soft-Pink);
  margin-left: 90px;
}
.card3 {
  background: var(--Very-DarkMagenta);
  border-radius: 10px;
  height: 260px;
  margin-right: 20px;
  margin-top: 150px;
  padding: 30px;
  width: 390px;
}
.card3 p {
  color: var(--Light-Grayish-Magenta);
  line-height: 1.5;
  margin-top: 40px;
}
.person3 h4 {
  color: var(--White);
  margin-left: 90px;
  margin-top: -70px;
}
.person3 span {
  color: var(--Soft-Pink);
  margin-left: 90px;
}
.card {
  display: flex;
}
