:root {
    --font-family: "Barlow Semi Condensed", sans-serif;
    --Light-gray: hsl(0, 0%, 81%);
    --Light-grayish-blue: hsl(210, 46%, 95%);
    --Moderate-violet: hsl(263, 55%, 52%);
    --Very-dark-grayish-blue: hsl(210, 9%, 39%);
    --Very-dark-blackish-blue: hsl(219, 29%, 14%);
    --White: hsl(0, 0%, 100%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-family);
    padding-top: 2.5rem;
    padding-bottom: 1rem;
}
.container{
    background-color: var(--Light-grayish-blue);
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    "card1 card1 card2 card5"
    "card1 card1 card2 card5"
    "card3 card4 card4 card5"
    ;
    gap:20px;
    height: auto;
    max-width: 1400px;
    margin-bottom: 1.3rem;
    margin-left: auto;
    margin-right: auto;
    padding: 5rem;
}
.card1, .card2, .card3, .card4, .card5 {
    border-radius: 5px;
    padding: 2rem;
}

.card1 {
    background-color: var(--Moderate-violet);
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100px;
    background-position-x: 80%;
    color: var(--White);
    grid-area: card1;
}

.row1 {
    align-items: center;
    color: var(--Light-gray);
    display: flex;
    font-size: 20px;
    gap: 30px;
    margin-bottom: 10px;
}

.row1 img{
    border-radius: 50%;
}
.row1 h4{
    color: var(--White);
    font-size: 15px;
}
.row1 p {
    color: var(--Light-gray);
    font-size: 12px;
    gap: 20px;
}
.row2 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.row3 {
    color: var(--Light-grayish-blue);
    line-height: 1.5;
    margin-bottom: 1rem;
}
.row4 {
    color: rgb(53, 49, 49);
    line-height: 1.5;
    margin-bottom: 1rem;
}

.card2 {
    background-color: var(--Very-dark-grayish-blue);
    color: var(--White);
    grid-area: card2;
}
.card3 {
    background-color: var(--White);
    color: black;
    grid-area: card3;
}
.card4 {
    background-color: var(--Very-dark-blackish-blue);
    color: var(--White);
    grid-area: card4;
}
.card5 {
    background-color: var(--White);
    color: black;
    grid-area: card5;
}
.card3 h4, .card5 h4{
    color: var(--Very-dark-blackish-blue);
}
.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }