:root {
  --accent: hsl(277, 64%, 61%);
  --card-background: hsl(244, 38%, 16%);
  --font-family: 'Lexend Deca', sans-serif;
  --main-background: hsl(233, 47%, 7%);
  --main-heading: hsl(0, 0%, 100%);
  --main-paragraph: hsl(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--main-background);
  font-family: var(--font-family);
  height: 100vh;
}
.container {
  background-color: var(--card-background);
  border-radius: 10px;
  display: flex;
  height: 57%;
  margin-left: 200px;
  margin: 200px;
  width: 500px;
  width: 70%;
}
.card {
  background-color: var(--card-background);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 50px;
}
.head-image {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  height: 100%;
  width: 450px;
}
.people {
  background-color: var(--accent);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}
.accent {
  background-color: hsl(277, 79%, 35%);
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
}
.card h2 {
  align-items: left;
  color: var(--main-heading);
  font-size: 35px;
  margin-bottom: 30px;
}
.card span {
  color: var(--accent);
}
.text {
  color: var(--main-paragraph);
  line-height: 1.5;
  margin-bottom: 30px;
  padding-top: 20px;
}
.template {
  cursor: pointer;
  display: inline-flex;
}
.num {
  color: var(--main-heading);
  font-size: 20px;
}
.line {
  color: var(--stat-headings);
  font-size: 10px;
}
.comp {
  margin-top: 30px;
  padding-right: 30px;
}
.temp {
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
}
.query {
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
}
@media only screen and (max-width: 783px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
    margin-left: 20px;
    margin: 100px;
    width: auto;
  }
  .head-image {
    height: 100%;
    width: 250px;
  }
  .accent {
    position: relative;
    width: 500px;
  }
  .card h2,
  .text {
    height: auto;
    width: auto;
  }
  .people {
    width: auto;
  }
  .template {
    flex-direction: column;
    margin: auto;
  }
  .comp {
    padding-left: 40px;
  }
}
